<div class="header-container">
  <div class="raccoon-logo-icon-container clear">
    {{#link-to "index"}}
        <img src="/img/raccoon_coin.png">
    {{/link-to}}
  </div>

  <div class="main-menu">
       <ul>
            <li {{action 'onClick' 'presentation'}}><a>Presentation</a></li>
            <li {{action 'onClick' 'roadmap'}}><a>Roadmap</a></li>
            <li {{action 'onClick' 'team'}}><a>Team</a></li>
            <li {{action 'onClick' 'whitepaper'}}><a>Whitepaper</a></li>
            <li {{action 'onClick' 'twitter'}}><a>Twitter</a></li>
        </ul>
  </div>
 

</div>
