<div class="header-container">
  <div class="raccoon-logo-icon-container clear">
    {{#link-to "index"}}
        <img src="/img/raccoon_coin.png">
    {{/link-to}}
  </div>

  <div class="main-menu">
       <ul>
            <li {{action 'onClick' 'presentation'}}><a>{{t "menu.present"}}</a></li>
            <li {{action 'onClick' 'roadmap'}}><a>{{t "menu.roadmap"}}</a></li>
            <li {{action 'onClick' 'team'}}><a>{{t "menu.team"}}</a></li>
            <li {{action 'onClick' 'whitepaper'}}><a>{{t "menu.whitepaper"}}</a></li>
            <li><a href="https://explorer.procyoncoin.org" target="_blank">Explorer</a></li>
            <li><a href="https://twitter.com/procyoncoin" target="_blank">{{t "menu.twitter"}}</a></li>
        </ul>
  </div>
 

</div>
