<div class='container'>
  <div class="title">
    <h2>{{t "section.exchange.title"}}</h2>
  </div>

  <div class="server-desc">
    <p>
     {{t "section.exchange.block1"}}
    </p>
    <p>
      {{t "section.exchange.block2"}}
    </p>
  </div>

  <div class="exchanges">
    <div class="exchange">
      <div class="xeggex-logo">
        <a href="https://xeggex.com/market/PRCO_USDT" target="_blank">
        <img src="/img/xeggex_blue_with_box.png">
        </a>
      </div>
      <div class="pair">
        {{t "section.exchange.exbitron.pairs"}}
      </div>
      <div class="price">
        {{exchange/exchange-price exchange="xeggex" unit="USDT"}}
        {{exchange/exchange-price exchange="xeggex" unit="DOGE"}}
      </div>
    </div>
    <div class="exchange">
      {{t "section.exchange.more"}}
    </div>
  </div>
  
</div>
