<div class='container'>

  <div class="title">
    <h2>{{t "section.present.what"}}</h2>
  </div>

  <div class="way-of-life clear wow fadeInLeft">
    <div class="left-img img-container">

    </div>

    <div class="content-right">
      <div>
        <h3>{{t "section.present.block1.title"}}</h3>
        <p>{{t "section.present.block1.message1"}}</p>
        <p>{{t "section.present.block1.message2"}} <b><i><u>Procyon 'coon' coin</u></i></b>.</p> 
      </div>
    </div>
  </div>
  <div class="way-of-life clear wow fadeInRight">
    <div class="right-img img-container">

    </div>
    <div class="content-left">
      <div>
        <h3 class='right'>{{t "section.present.block2.title"}}</h3>
        <p>{{t "section.present.block2.message1"}}</p>
        <p>{{t "section.present.block2.message2"}}</p>
        <p>{{t "section.present.block2.message3"}}</p>
      </div>
    </div>
  </div>
  <div class="way-of-life clear wow fadeInLeft">
    <div class="left-img left-img-2 img-container">

    </div>

    <div class="content-right">
      <div>
        <h3>{{t "section.present.block3.title"}}</h3>
        <p>{{t "section.present.block3.message1"}}</p>
        <p>{{t "section.present.block3.message2"}}</p>
      </div>
    </div>
  </div>
</div>
