
<ul class="timeline">

  <!-- Item 1 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">{{t "section.roadmap.phase1.title"}}</span>
      </div>
      <div class="desc">
        <div>
          - {{t "section.roadmap.phase1.item1"}} ✅
        </div>
        <div>
          - {{t "section.roadmap.phase1.item2"}} ✅
        </div>
        <div>
          - {{t "section.roadmap.phase1.item3"}} ✅
        </div>
        <div>
          - {{t "section.roadmap.phase1.item4"}} ✅
        </div>
        <div>
          - {{t "section.roadmap.phase1.item5"}}
        </div>
      </div>
    </div>
  </li>

  <!-- Item 2 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="flag">{{t "section.roadmap.phase2.title"}}</span>
      </div>
      <div class="desc">
        <div>
          - {{t "section.roadmap.phase2.item1"}} ✅
        </div>
        <div>
          - {{t "section.roadmap.phase2.item2"}}
        </div>
        <div>
          - {{t "section.roadmap.phase2.item3"}}
        </div>
      </div>
    </div>
  </li>

  <!-- Item 3 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="flag">{{t "section.roadmap.phase3.title"}}</span>
      </div>
      <div class="desc">
       <div>
         - {{t "section.roadmap.phase3.item1"}}
       </div>
       <div>
         - {{t "section.roadmap.phase3.item2"}}
       </div>
      </div>
    </div>
  </li>

</ul>
