{{page-title "Home"}}

<div class="index">
    {{top-image-section}}


    <section id="presentation">{{sections/presentation-section}}</section>
    <section id="roadmap">{{sections/roadmap-section}}</section>
    <section id="exchange">{{sections/exchange-section}}</section>
    <section id="team">{{sections/team-section}}</section>

    {{footer/index-footer}}
</div>